.more-info {
    margin-top: 10px;
}

.image-app {
    max-width: 70%;
    margin: 0 auto;
}

.image-app-2 {
    /* max-width: 90%; */
    margin: 0 auto;
    min-width: 61%;
}

.m-with-300 {
    max-width: 300px;
}

.custom-card {
    view-timeline-name: --revealing-image;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 50%;

}