.img-course {
    width: 400px;
    border-radius: 20px;
    border: 1px solid;
    border-radius: 20px;
    border: 1px solid;
}

.img-container-course {
    padding: 10px;
    view-timeline-name: --revealing-image;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 50%;
}
